
.text {
    font-size: 14px;
}

.delete-spot-button {
    color: white;
    background-color: #ff5a5f;
    width: 290px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px black;
    cursor: pointer;
    margin-bottom: 10px;
}

.delete-spot-button:hover {
    background-color: #e0484d;
}

.keep-spot-button {
    color: white;
    background-color: grey;
    width: 290px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px black;
    cursor: pointer;
}

.keep-spot-button:hover {
    background-color: rgb(105, 102, 102);
}