/* LandingPage.css */

/*General layout */
.title {
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 10rem;
  font-weight: bold;
}

.greeting {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: solid 1px black;
}

.hamburger-icon {
  margin-bottom: 1.75px;
}

.user-icon,
.hamburger-icon {
  display: inline-flex;
  justify-content: center;
  padding: 0 5px;
}


.listing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Dynamically adjust columns */
  margin: 0px 100px;
  gap: 20px;
}


.listing-card {
  text-decoration: none;
  font-size: 20px;
  width: auto;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  border: 2px solid rgb(151, 148, 148);
  border-radius: 15px;
}

.listing-card:hover {
  transform: scale(1.05);
}

.listing-image {
  width: 100%;
  height: auto;
}

.price {
  color: #000000;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding-left: 10px
}

.details-button {
  background-color: #ff5a5f;
  color: white;
  border: 2px solid #ff5a5f;
  /* Added border */
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.details-button:hover {
  background-color: #e0484e;
}


.location-rating {
  display: flex;
  justify-content: space-between;
  color: #333;
  /* Padding to separate the text from the border */
  padding: 0px 10px;
  margin-bottom: 10px;
}



.image {
  overflow: hidden;
  /* Ensures the image doesn’t overflow */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(151, 148, 148);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures image fills the space without distortion */
}