

    .hidden {
        display: none !important;
    }
    .burger-menu {
        background: none;
        border: none;
        color: black;
        font-size: 1.5rem;
        cursor: pointer;
        position: absolute;
        right: 20px;
      }

      .session-links, .profile, .profile-dropdown{
        position: absolute;
        right: 20px;
      }

      .session-links.active {
        display: flex;
        margin: 10px;
      }

      .session-links{
        border: 1px solid black;
        background-color: blanchedalmond;
        object-fit:fill
      }

      .login-link {
        margin-top: 18px;
        padding: 3px;
      }

      .signup-link{
        padding: 3px;
      }

      .profile-dropdown {
        padding: 0 !important;
        margin: 0 !important;
        width: auto;
        min-width: fit-content;
        border: 1px solid black;
      }

    .ul-info {
      display: flex; 
      flex-direction: column;
      width: auto !important;
      min-width: fit-content;
      border: 1px solid black;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: lightgrey;
    }

    .ul-sub-info {
      display: flex;
      flex-direction: column; 
      width: auto !important;
      min-width: fit-content;
      padding: 0;
      margin: 0;
      list-style: none; 
    }

      .manage-spots-link{
        display: inline-block;
        padding-bottom: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding-right: 0;
        margin-right: 0;
      }

  
