/* Centering the modal */
.login-text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.submit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Input fields */
.input-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.user-input .password-input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


/* Error message */
.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0 0;
}


.login-button, .demo-button {
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  border: 2px solid black;
  box-shadow: 2px 2px black;
}

.login-button-div, .demo-button-div {
  display: flex;
  justify-content: center;
}

/* .log-in-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 90px;
} */

.login-button:hover {
  background: #e0484d;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
  opacity: 0.6;
}

.demo-button:hover {
  background: #e0484d;
}

.demo-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
